<div class="white-bg border-left animated fadeInRight" full-scroll ng-controller="mailSettingEditTypeCtrl">
	<div class="row wrapper">
		<div class="ibox">
			<div class="ibox-title no-borders">
				<h5>{{title}}</h5>
				<div class="ibox-tools">		
					<a ng-click="close()"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="ibox-content">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">{{'mailSettingList_userName' | translate}}:*</label>
						<div class="col-sm-10">
							<input type="text" required="" aria-required="true" class="form-control" ng-model="data.nickName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{'mailSettingList_mailType' | translate}}:*</label>
						<div class="col-sm-10">
							<select ng-model="data.mailType" class="form-control">
								<option  value="">--{{'mailSettingList_pleaseChooseMailboxType' | translate}}--</option>
								<option  value="pop3">pop3{{'mailSettingList_type' | translate}}</option>
								<option  value="imap">imap{{'mailSettingList_type' | translate}}</option>
								<option  value="exchange">exchange{{'mailSettingList_type' | translate}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{'mailSettingList_mailAddress' | translate}}:*</label>
						<div class="col-sm-10">
							<input type="text" required="" aria-required="true" class="form-control" ng-model="data.mailAddress" ng-blur="showInfos()">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" uib-tooltip="{{'mailSettingList_tpitmactnlp' | translate}}" ng-if="data.mailType!='exchange'">{{'mailSettingList_password' | translate}}:*<i class="fa fa-question-circle-o"></i></label>
						<label class="col-sm-2 control-label" uib-tooltip="{{'mailSettingList_tpitpftml' | translate}}" ng-if="data.mailType=='exchange'">{{'mailSettingList_password' | translate}}:*<i class="fa fa-question-circle-o"></i></label>
						<div class="col-sm-10">
							<input required="" aria-required="true" class="form-control" ame='password' id="password" type="password" ng-model="data.password">
						</div>
					</div>
					<div class="form-group" ng-if="data.mailType!='exchange'">
						<label class="col-sm-2 control-label">smtp{{'mailSettingList_host' | translate}}:*</label>
						<div class="col-sm-10">
							<input type="text" required="" aria-required="true" class="form-control" ng-model="data.smtpHost">
						</div>
					</div>
					<div class="form-group" ng-if="data.mailType!='exchange'">
						<label class="col-sm-2 control-label">smtp{{'mailSettingList_port' | translate}}:*</label>
						<div class="col-sm-10">
							<input type="text" required="" aria-required="true" class="form-control" ng-model="data.smtpPort">
						</div>
					</div>
					<div class="form-group" ng-if="data.mailType!='imap'&&data.mailType!='exchange'">
						<label class="col-sm-2 control-label">pop{{'mailSettingList_host' | translate}}:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="data.popHost">
						</div>
					</div>
					<div class="form-group" ng-if="data.mailType!='imap'&&data.mailType!='exchange'">
						<label class="col-sm-2 control-label">pop{{'mailSettingList_host' | translate}}:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="data.popPort">
						</div>
					</div>
					<div class="form-group" ng-if="data.mailType=='imap'&&data.mailType!='exchange'">
						<label class="col-sm-2 control-label">imap{{'mailSettingList_host' | translate}}:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="data.imapHost">
						</div>
					</div>
					<div class="form-group" ng-if="data.mailType=='imap'&&data.mailType!='exchange'">
						<label class="col-sm-2 control-label">imap{{'mailSettingList_port' | translate}}:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="data.imapPort">
						</div>
					</div>
					<div class="form-group" ng-if="data.mailType=='exchange'">
						<label class="col-sm-2 control-label">{{'mailSettingList_field' | translate}}:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="data.smtpHost">
						</div>
					</div>
					<div class="form-group" ng-if="data.mailType=='exchange'">
						<label class="col-sm-2 control-label">{{'mailSettingList_theServer' | translate}}:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="data.smtpPort">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{'mailSettingList_usa' | translate}}:</label>
						<div class="col-sm-10">
							<input type="checkbox" name='SSL' ng-change="changeSSL()" ng-model="data.ssl"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{'mailSettingList_air' | translate}}:</label>
						<div class="col-sm-10">
							<input type="checkbox" ng-model="data.validate"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{'mailSettingList_delir' | translate}}:</label>
						<div class="col-sm-10">
							<input type="checkbox" ng-model="data.isDeleteRemote"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{'mailSettingList_usingSSLAuthentication' | translate}}:</label>
						<div class="col-sm-10">
							<input type="checkbox" ng-model="data.isHandleAttach"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-2" align="left">
							<button type="button" class="btn btn-success btn-sm" ng-click="save()"><i class="fa fa-save"></i> {{'save' | translate}}</button>
							<button class="btn btn-danger btn-sm remove" ng-click="close()"><i class="fa fa-undo"></i>{{'back' | translate}}</button>
							<button class="btn btn-primary btn-sm" ng-click="testConnect()"><i class="fa fa-cog"></i> {{'mailSettingList_testConnection' | translate}}</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>