<div class="footer gray-bg" style="position:fixed;bottom:0px;width: 100%;">
    <div class="pull-right">
		<!-- 
		pc端im没人维护，先注释掉
		<div id="small-chat" ng-class="{'chat-anim':hasUnReadMessage == true}" ng-click="openChatView()" class="ng-scope">
			 <span class="badge badge-warning pull-right">5</span> 
			<a class="open-small-chat" style="margin-left: -20px">
				<i class="fa fa-comments"></i>
			</a>
		</div> -->
        {{'online_user' | translate}} <strong>{{onLineCount}}</strong> {{'people' | translate}}
	</div>
    <div>
        <!--<strong>Copyright</strong> {{'hotent' | translate}} &copy; 2017-2019-->
		<strong>Copyright</strong> 超智慧出品 &copy; 2017-2019
    </div>
</div>
