<form class="form-horizontal p-sm" name="modifyPwdForm" ng-submit="save()" ng-controller="modifyPasswordCtrl">
	<div class="form-group">
		<label class="col-sm-4 control-label">{{'old_password' | translate}}:</label>
		<div class="col-sm-6">
			<input aria-required="true" class="form-control input-sm" type="password" ng-model="data.oldPwd" required="" />
		</div>
	</div>
	<div class="form-group">								
		<label class="col-sm-4 control-label">{{'new_password' | translate}}:</label>
		<div class="col-sm-6">
			<input aria-required="true" class="form-control input-sm" type="password" ng-model="data.newPwd" required=""/>
		</div>
	</div>
	<div class="form-group">								
		<label class="col-sm-4 control-label">{{'repeat_new_password' | translate}}:</label>
		<div class="col-sm-6">
			<input aria-required="true" class="form-control input-sm" type="password" ng-model="data.reNewPwd" required="" />
		</div>
	</div>
</form>
