<div ng-controller="revokeCtrl">
	<div class="toolbar-panel col-md-12">
	<form>
		
		<table cellspacing="0" class="table-form">
			<tr> 
				<th width="20%" >
					<abbr ht-tip title="{{'Reminding_message_title' | translate}}">{{'Reminding_message' | translate}}:</abbr>
				</th>
				<td >
					<div class="checkbox checkbox-info checkbox-inline" ng-repeat="(k,v) in handlerTypes track by $index">
						<input id="{{k}}" type="checkbox" ht-checkbox ng-model="data.messageType" value="{{k}}" />
						<label for="{{k}}"> {{v}} </label>
					</div>
				</td>
			</tr>
			<tr> 
				<th  >
					{{'Reason' | translate}}:
				</th>
				<td >
					<textarea class="inputText" ng-model="data.cause" name="cause" rows="4" 
						  cols="50" style="width: 300px; margin:5px" validate="{required:true}"></textarea>
			 
				</td>
			</tr>
		</table>
	</form>
	</div>
	<div class="toolbar-panel col-md-12" style="text-align:right;margin-bottom: 5px">
		<div class="buttons">
			<button ng-click="saveRevoke()" class="btn btn-sm btn-primary fa fa-save">{{'confirm' | translate}}</button>
		</div>
	</div>
</div>
